@using PagedList.Mvc;
@model PagedList.IPagedList<CarShowroom.Models.Xe>

<div class="product-status mg-tb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Danh Sách Xe</h4>
                    <div class="add-product">
                        <a  href="/Admin/Xe/Create">Thêm Mới</a>
                    </div>
                    <table>
                        <tr>
                            <th>Hình Ảnh</th>
                            <th>Tên xe</th>
                            <th>Số chỗ</th>
                            <th>Giá Nhập</th>
                            <th>Giá Cho Thuê</th>
                            <th>Xe</th>
                            <th>Xe Đã Thuê</th>
                            <th>Hãng Xe</th>
                            <th>#</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            <img src="@item.HinhAnh" alt="Alternate Text" style="width:150px;height:auto" />
                        </td>
                        <td><a href="/Admin/Xe/Details?id=@item.MaXe">@item.TenXe</a></td>
                        <td>@item.SoCho</td>
                        <td>@item.GiaNhap.ToString("0##,##0")</td>
                        <td>@item.GiaChoThue.ToString("0##,##0") /Ngày</td>
                        <td>@item.SoLuongXe</td>
                        <td>@item.SoLuongXeDaThue</td>
                        <td>@item.HangXe.TenHangXe</td>
                        <td>
                            <a  href="@Url.Action("Edit", "Xe", new {id = @item.MaXe})" class="pd-setting-ed btn btn-sm btn-warning">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Xe", new {id = @item.MaXe})" class="pd-setting-ed btn btn-sm btn-danger">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            @*<button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>*@
                        </td>
                        @*<td>
            <button class="pd-setting">Active</button>
        </td>*@
                    </tr>
                        }


                    </table>
                    <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, currentFilter = ViewBag.CurrentFilter }))
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

